<!-- rating.component.html -->

<!-- rating.component.html -->

<div class="rating">
  <span class="star" (click)="rateNutritionist(1)" [class.active]="rated >= 1">&#9733;</span>
  <span class="star" (click)="rateNutritionist(2)" [class.active]="rated >= 2">&#9733;</span>
  <span class="star" (click)="rateNutritionist(3)" [class.active]="rated >= 3">&#9733;</span>
  <span class="star" (click)="rateNutritionist(4)" [class.active]="rated >= 4">&#9733;</span>
  <span class="star" (click)="rateNutritionist(5)" [class.active]="rated >= 5">&#9733;</span>
</div>


  
  
  
